<div class="py-2 flex flex-wrap gap-2 md:flex-nowrap md:flex-row">
  <button
    mat-button
    matTooltip="Adicionar"
    aria-label="Adicionar"
    class="!bg-transparent !border !border-green-800 !text-green-800 !font-bold !py-2 !px-4 !rounded-lg !inline-flex !items-center !h-10"
  >
    <mat-icon>add</mat-icon>
    Adicionar
  </button>
  <button
    mat-button
    matTooltip="Editar"
    aria-label="Editar"
    class="!bg-transparent !border !border-sky-800 !text-sky-800 !font-bold !py-2 !px-4 !rounded-lg !inline-flex !items-center !h-10"
  >
    <mat-icon>edit</mat-icon>
    Editar
  </button>
  <button
    mat-button
    matTooltip="Excluir Multiplos"
    aria-label="Excluir Multiplos"
    class="!bg-transparent !border !border-red-800 !text-red-800 !font-bold !py-2 !px-4 !rounded-lg !inline-flex !items-center !h-10"
  >
    <mat-icon>delete</mat-icon>
    Excluir Multiplos
  </button>
</div>
